h1 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 5px;
}

#humidity, #temperature, #currentDate {
	font-size: 14px;
}

.valueLabel{
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;	
}

.text_value {
	position: relative;
	top: 20px;
}

.btnMaxMin {
	position: relative;
	bottom: 10px;
	margin-top : 5px;
}
.valueMaxMin {
	height: 30px;
	position: relative;
	bottom: 10px;
	margin-top : 5px;
}

#chart{
	width:100%;
	height:50%;
}

#graph {
	margin-top: 15px;
	margin-bottom: 12px;
}

#error {
	margin-top: 15px;
}

body {

	background-color : rgb(220,220,220);
}

.white {

	background-color: white;
}